# OS
.DS_Store

# Node
node_modules
.next
dist
out
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__
*.py[cod]
.venv
venv
.env
.pytest_cache
.mypy_cache

# Local data
backend/data
frontend/.env.local
backend/*.pem
backend/*.sqlite3
